# MAC0417/5768 - Visão e Processamento de Imagens (2021)

Exercício Programado 1

Gabriela Melo e Richard Block

Projeto GitHub: https://github.com/gabi-melo/image_processing

Base de imagens: https://photos.app.goo.gl/h22AdtDiRGmvResL7

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#Ler metadados
metadata = pd.read_excel('./metadata.xlsx')

In [109]:
##Tabela Global

tabela_global = pd.DataFrame({"Descrição": ["Número de classes", 
                                            "Número de imagens",
                                            "Tamanho da base (bytes)",
                                            "Resolução das imagens"],                             
                              "Valor": [metadata.groupby('classe').count().shape[0],
                                        metadata.groupby('classe').count()['exemplo'].sum(),
                                        "tamanho",
                                        "resolucao", 
                                        ]})                                        

tabela_global

                 Descrição      Valor
0        Número de classes         10
1        Número de imagens       1080
2  Tamanho da base (bytes)    tamanho
3    Resolução das imagens  resolucao

In [101]:
##Tabela Detalhada

def f_tabela(df):
    return df.apply(np.unique)
     
tabela_classe = metadata.groupby(["classe"]).apply(f_tabela)[["classe"]]
tabela_classe["n exemplos"] = metadata.groupby("classe")["exemplo"].max()
tabela_classe["var fundo"] = metadata.groupby(["classe"]).apply(f_tabela)[["fundo"]]
tabela_classe["var iluminação"] = metadata.groupby(["classe"]).apply(f_tabela)[["periodo"]]
tabela_classe["n repetições"] = metadata.groupby("classe")["repeticao"].max()
tabela_classe["total amostras"] = metadata.groupby("classe")["exemplo"].count()

tabela_classe

,classe,n exemplos,var fundo,var iluminação,n repetições,total amostras
classe,,,,,,
caneta,[caneta],3,"[madeira, palha, pano]","[dia, noite]",3,108
chave,[chave],3,"[madeira, palha, pano]","[dia, noite]",3,108
chinelo,[chinelo],3,"[azul, bege, laranja, verde, vermelho]","[dia, noite]",3,108
copo,[copo],3,"[madeira, palha, pano]","[dia, noite]",3,108
escova,[escova],3,"[azul, bege, laranja, verde, vermelho]","[dia, noite]",3,108
leite,[leite],3,"[madeira, palha, pano]","[dia, noite]",3,108
livro,[livro],3,"[madeira, palha, pano]","[dia, noite]",3,108
oculos,[oculos],3,"[azul, bege, laranja, verde, vermelho]","[dia, noite]",3,108
palheta,[palheta],3,"[azul, bege, laranja, verde, vermelho]","[dia, noite]",3,108
tesoura,[tesoura],3,"[azul, bege, laranja, verde, vermelho]","[dia, noite]",3,108